# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/

# Backup files
*.bak
*~
*.swp

# IDE
.idea/
.vscode/
*.code-workspace

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static files at production
staticfiles/

# macOS
.DS_Store

# Test files
.coverage
htmlcov/